<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application android:name=".KggPreviewApplication">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="kgg_preview_updates" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_kgg_preview_notification" />

        <service
            android:name=".KggPreviewMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" />
    </application>
</manifest>
