openapi: 3.1.0
info:
  title: KGG GPT Preview and Project Memory GitHub API
  version: "1.7.0"
  description: Pre-authorized Admin/Patient Preview operations, Admin editor-sync certification, separately approved release gates, and private shared memory/coordination.
  x-kgg-admin-editor-sync-contract:
    human_attestation: "Editor geprüft, Sync zertifizieren."
    human_attestation_semantics: "Confirms that the real published Admin GPT editor was manually checked; it never replaces TARGET_PASS or the server preflight."
    server_owned_values:
      - UTC RFC3339 certification time
      - current main SHA
      - snapshot candidate
    normal_flow:
      - "Max updates and publishes the real Admin GPT editor."
      - "A fresh chat performs the complete Admin Resource Audit and must obtain TARGET_PASS."
      - "Max says exactly: Editor geprüft, Sync zertifizieren."
      - "The GPT may dispatch the non-consequential Admin Editor Sync Preflight."
      - "The preflight must return would_certify before certification can continue."
      - "Only after Max says exactly: Gut für Main may the GPT dispatch the consequential Snapshot PR gate."
      - "The gate creates a snapshot-only PR and never auto-merges it."
      - "Required checks must be green before a human merge."
      - "After merge, LIVE_PASS must be verified with the canonical strict audit."
    idempotent_target_refresh:
      preserve_live_synced_when_target_unchanged: true
      invalidating_target_fields:
        - profileVersion
        - bootstrapVersion and instructionsSha256
        - knowledgeSha256
        - actionSha256
      product_commits_do_not_invalidate_unchanged_editor_sync: true
servers:
  - url: https://api.github.com
paths:
  /repos/Kayus24/kgg/git/ref/heads/main:
    get:
      operationId: getKggMainCommit
      summary: Get the exact current main SHA before Admin or Patient Preview work.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      responses:
        "200":
          description: Current main Git ref.
          content:
            application/json:
              schema: {type: object, properties: {}, additionalProperties: true}
  /repos/Kayus24/kgg/actions/workflows/kgg-gpt-preview-auto.yml/dispatches:
    post:
      operationId: submitKggPreviewAuto
      summary: Validate and publish a guarded Admin Test-App Preview in one automatic run.
      description: Max pre-authorized this complete Preview-only pipeline. It validates first, publishes only after green validation, writes Test-App status updates and cannot create a PR or merge main.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ref, inputs]
              properties:
                ref:
                  type: string
                  enum: [main]
                inputs:
                  type: object
                  required: [request_id, payload_json]
                  properties:
                    request_id:
                      type: string
                      pattern: "^[a-z0-9][a-z0-9-]{5,63}$"
                    payload_json:
                      type: string
                      description: Guarded modular v2 payload. It may include only declarative contains/not_contains regression_contract assertions. Cross-app QR work uses protected_scope cross-app-qr-preview and all four exact impact tests.
                    ui_stability:
                      type: string
                      enum: ["false", "true"]
                      default: "false"
      responses:
        "204":
          description: Test-only workflow dispatch accepted.
  /repos/Kayus24/kgg/actions/workflows/kgg-gpt-device-test.yml/dispatches:
    post:
      operationId: submitKggDeviceTest
      summary: Publish the exact current-main Admin HTML to the persistent Preview/Test-App channel and run device tests.
      description: Preview-only Existing-Main test action. It accepts only an exact pinned current-main source_sha and a bounded device profile. It has no patch payload, cannot create a vNNN patch module, cannot create a PR, cannot merge main, and cannot publish an Admin beta.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ref, inputs]
              properties:
                ref:
                  type: string
                  enum: [main]
                inputs:
                  type: object
                  required: [request_id, source_sha]
                  properties:
                    request_id:
                      type: string
                      pattern: "^[a-z0-9][a-z0-9-]{5,63}$"
                    source_sha:
                      type: string
                      pattern: "^[0-9a-f]{40}$"
                      description: Exact current main commit SHA. The workflow stops if main drifts before publication.
                    device_test_profile:
                      type: string
                      enum: [quick, full]
                      default: quick
      responses:
        "204":
          description: Preview-only pinned device-test workflow dispatch accepted.
  /repos/Kayus24/kgg/actions/workflows/kgg-gpt-device-test.yml/runs:
    get:
      operationId: listKggDeviceTestRuns
      summary: List recent persistent Preview/Test-App device-test runs.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: branch
          in: query
          required: false
          schema:
            type: string
            enum: [main]
        - name: event
          in: query
          required: false
          schema:
            type: string
            enum: [workflow_dispatch]
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [queued, in_progress, completed]
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 30
            default: 10
      responses:
        "200":
          description: Recent persistent device-test workflow runs.
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: true
  /repos/Kayus24/kgg/actions/workflows/kgg-gpt-preview-gate.yml/dispatches:
    post:
      operationId: submitKggMainGate
      summary: Create the accepted Admin PR or publish the accepted Admin beta after Max's final approval.
      description: Consequential release gate. Requires the exact phrase Gut für Main and a matching accepted Test-App Preview.
      x-openai-isConsequential: true
      security:
        - githubBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ref
                - inputs
              properties:
                ref:
                  type: string
                  enum:
                    - main
                inputs:
                  type: object
                  required:
                    - mode
                    - request_id
                    - payload_json
                    - approval_phrase
                  properties:
                    mode:
                      type: string
                      enum:
                        - create_pr
                        - publish_admin_beta
                    request_id:
                      type: string
                      pattern: "^[a-z0-9][a-z0-9-]{5,63}$"
                    payload_json:
                      type: string
                      description: JSON string containing request_id, title, summary, version_slug, touched_areas, required_tests and patch_content, plus optional declarative regression_contract assertions. Do not send executable tests, operations, old_text, new_text or path. UI payloads must include critical and ui-stability regression tests.
                    ui_stability:
                      type: string
                      enum:
                        - "false"
                        - "true"
                      default: "false"
                    approval_phrase:
                      type: string
                      enum:
                        - Gut für Main
      responses:
        "204":
          description: Workflow dispatch accepted.
  /repos/Kayus24/kgg/actions/workflows/kgg-gpt-preview-gate.yml/runs:
    get:
      operationId: listKggMainGateRuns
      summary: List recent approved Admin PR/Main gate runs.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: branch
          in: query
          required: false
          schema:
            type: string
            enum:
              - main
        - name: event
          in: query
          required: false
          schema:
            type: string
            enum:
              - workflow_dispatch
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - queued
              - in_progress
              - completed
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
      responses:
        "200":
          description: Recent workflow runs.
  /repos/Kayus24/kgg/actions/workflows/kgg-gpt-preview-auto.yml/runs:
    get:
      operationId: listKggPreviewAutoRuns
      summary: List recent automatic Admin Preview-only runs.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: branch
          in: query
          required: false
          schema:
            type: string
            enum: [main]
        - name: event
          in: query
          required: false
          schema:
            type: string
            enum: [workflow_dispatch]
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [queued, in_progress, completed]
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 30
            default: 10
      responses:
        "200":
          description: Recent Preview-only workflow runs.
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: true
  /repos/Kayus24/kgg/actions/runs/{run_id}:
    get:
      operationId: getKggPreviewGateRun
      summary: Poll one Preview Gate run until completed; do not stop at queued or in_progress.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Workflow run status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  display_title:
                    type: string
                  status:
                    type: string
                  conclusion:
                    type:
                      - string
                      - "null"
                  html_url:
                    type: string
                additionalProperties: true
  /repos/Kayus24/kgg/actions/runs/{run_id}/jobs:
    get:
      operationId: getKggPreviewGateJobs
      summary: Get jobs and steps for one Preview Gate run.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Workflow jobs with step status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  jobs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        status:
                          type: string
                        conclusion:
                          type:
                            - string
                            - "null"
                        steps:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              status:
                                type: string
                              conclusion:
                                type:
                                  - string
                                  - "null"
                additionalProperties: true
  /repos/Kayus24/kgg/actions/runs/{run_id}/artifacts:
    get:
      operationId: getKggPreviewGateArtifacts
      summary: Get uploaded artifacts for one Preview Gate run.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Workflow artifacts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  artifacts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        expired:
                          type: boolean
                        archive_download_url:
                          type: string
                additionalProperties: true
  /repos/Kayus24/kgg/actions/workflows/kgg-admin-editor-sync-preflight.yml/dispatches:
    post:
      operationId: submitKggAdminEditorSyncPreflight
      summary: Run the write-free Admin Editor Sync Preflight after the published editor was manually checked.
      description: Write-free certification preflight after human editor attestation. Server reads main and manifest, requires TARGET_PASS, builds a temporary candidate, requires LIVE_PASS, rechecks main drift, and never creates a branch, commit or PR. Caller controls only request_id; ref is fixed to main.
      x-openai-isConsequential: false
      x-kgg-result-states: [would_certify, no_change, stale_context, stale_base, failed]
      security:
        - githubBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ref, inputs]
              additionalProperties: false
              properties:
                ref:
                  type: string
                  enum: [main]
                  default: main
                  description: Fixed GitHub workflow dispatch ref; it is not a caller-selectable certification value.
                inputs:
                  type: object
                  required: [request_id]
                  additionalProperties: false
                  properties:
                    request_id:
                      type: string
                      pattern: "^[a-z0-9][a-z0-9-]{5,63}$"
      responses:
        "204":
          description: Write-free Admin Editor Sync Preflight dispatch accepted. Final workflow evidence is one of would_certify, no_change, stale_context, stale_base or failed.
  /repos/Kayus24/kgg/actions/workflows/kgg-admin-editor-sync-snapshot-pr.yml/dispatches:
    post:
      operationId: submitKggAdminEditorSyncSnapshotPr
      summary: Create a guarded Admin editor-sync snapshot-only PR after Max's exact final approval.
      description: Consequential snapshot-PR gate after exact approval "Gut für Main". Server reruns the full preflight, owns UTC time, main SHA and candidate, permits only syncStatus, lastVerifiedAt and lastVerifiedMainCommit, creates only a snapshot PR, never writes main directly and never auto-merges.
      x-openai-isConsequential: true
      x-kgg-result-states: [pr_created, existing_pr, existing_request, no_change, approval_required, stale_context, stale_base, failed]
      security:
        - githubBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ref, inputs]
              additionalProperties: false
              properties:
                ref:
                  type: string
                  enum: [main]
                  default: main
                  description: Fixed GitHub workflow dispatch ref; it is not a caller-selectable certification value.
                inputs:
                  type: object
                  required: [request_id, approval_phrase]
                  additionalProperties: false
                  properties:
                    request_id:
                      type: string
                      pattern: "^[a-z0-9][a-z0-9-]{5,63}$"
                    approval_phrase:
                      type: string
                      enum: [Gut für Main]
      responses:
        "204":
          description: Consequential Admin Editor Sync Snapshot PR dispatch accepted. Final workflow evidence is one of pr_created, existing_pr, existing_request, no_change, approval_required, stale_context, stale_base or failed.
  /repos/Kayus24/kgg/actions/workflows/kgg-patient-gpt-preview-from-admin.yml/dispatches:
    post:
      operationId: submitKggPatientPreviewFromAdmin
      summary: Validate or publish an isolated Patient-App Preview for cross-app coordination.
      description: Max pre-authorized only validate_only and publish_preview. `validate_only` stays available for diagnosis; a cross-app `publish_preview` requires verified live editor sync for both the Admin and Patient GPT profiles. This endpoint cannot create a Patient PR or publish live.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ref, inputs]
              properties:
                ref:
                  type: string
                  enum: [main]
                inputs:
                  type: object
                  required: [mode, request_id, payload_json]
                  properties:
                    mode:
                      type: string
                      enum: [validate_only, publish_preview]
                    request_id:
                      type: string
                      pattern: "^[a-z0-9][a-z0-9-]{5,63}$"
                    payload_json:
                      type: string
                      maxLength: 60000
                      description: Patient payload v1 with synthetic-only test data and no secrets.
      responses:
        "204":
          description: Isolated Patient Preview workflow accepted.
  /repos/Kayus24/kgg/actions/workflows/kgg-patient-gpt-preview-from-admin.yml/runs:
    get:
      operationId: listKggPatientPreviewRunsFromAdmin
      summary: List recent isolated Patient Preview-only runs.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: branch
          in: query
          required: false
          schema:
            type: string
            enum: [main]
        - name: event
          in: query
          required: false
          schema:
            type: string
            enum: [workflow_dispatch]
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [queued, in_progress, completed]
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 30
            default: 10
      responses:
        "200":
          description: Recent Patient Preview-only workflow runs.
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: true
  /repos/Kayus24/kgg-project-memory/contents/memory/index.json:
    get:
      operationId: getKggMemoryIndex
      summary: Get the small routing index for the private KGG project memory.
      description: Always call this before loading a memory pack. Do not load all records.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/vnd.github.raw+json
            default: application/vnd.github.raw+json
        - name: ref
          in: query
          required: false
          schema:
            type: string
            enum:
              - main
            default: main
      responses:
        "200":
          description: Raw JSON routing index.
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: true
  /repos/Kayus24/kgg-project-memory/contents/memory/packs/{pack_name}:
    get:
      operationId: getKggMemoryPack
      summary: Get one compact active KGG memory topic pack selected from the index.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: pack_name
          in: path
          required: true
          description: Basename from memory/index.json, for example workflow.md. Never include memory/packs/ or another directory prefix.
          schema:
            type: string
            pattern: "^[a-z0-9][a-z0-9-]{1,63}\\.md$"
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/vnd.github.raw+json
            default: application/vnd.github.raw+json
        - name: ref
          in: query
          required: false
          schema:
            type: string
            enum:
              - main
            default: main
      responses:
        "200":
          description: Raw Markdown memory pack.
          content:
            text/plain:
              schema:
                type: string
  /repos/Kayus24/kgg-project-memory/contents/memory/records/{record_name}:
    get:
      operationId: getKggMemoryRecord
      summary: Get one immutable KGG memory record for history, rationale or conflict review.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: record_name
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9][a-z0-9-]{5,63}\\.md$"
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/vnd.github.raw+json
            default: application/vnd.github.raw+json
        - name: ref
          in: query
          required: false
          schema:
            type: string
            enum:
              - main
            default: main
      responses:
        "200":
          description: Raw immutable Markdown record.
          content:
            text/plain:
              schema:
                type: string
  /repos/Kayus24/kgg-project-memory/contents/memory/history.json:
    get:
      operationId: getKggMemoryHistory
      summary: Get the KGG memory history catalog only when audit or conflict context is required.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/vnd.github.raw+json
            default: application/vnd.github.raw+json
        - name: ref
          in: query
          required: false
          schema:
            type: string
            enum:
              - main
            default: main
      responses:
        "200":
          description: Raw JSON history catalog.
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: true
  /repos/Kayus24/kgg-project-memory/contents/coordination/index.json:
    get:
      operationId: getKggAgentCoordinationIndex
      summary: Read the private cross-agent coordination router before checking open work.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum: [application/vnd.github.raw+json]
            default: application/vnd.github.raw+json
        - name: ref
          in: query
          required: false
          schema:
            type: string
            enum: [main]
            default: main
      responses:
        "200":
          description: Coordination index.
          content:
            application/json:
              schema: {type: object, properties: {}, additionalProperties: true}
  /repos/Kayus24/kgg-project-memory/contents/coordination/threads/{coordination_request_id}.json:
    get:
      operationId: getKggAgentCoordinationThread
      summary: Read one relevant coordination thread selected from the index.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: coordination_request_id
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9][a-z0-9-]{5,63}$"
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum: [application/vnd.github.raw+json]
            default: application/vnd.github.raw+json
        - name: ref
          in: query
          required: false
          schema:
            type: string
            enum: [main]
            default: main
      responses:
        "200":
          description: Coordination thread.
          content:
            application/json:
              schema: {type: object, properties: {}, additionalProperties: true}
  /repos/Kayus24/kgg-project-memory/contents/coordination-bridge/tasks/{task_id}.json:
    get:
      operationId: getKggAgentCoordinationBridgeTask
      summary: Read one bounded v2 coordination bridge record.
      description: Read-only short-pass state from the local PC runtime. It contains no runtime payload, patient data, raw QR data, secrets, prompts or logs.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9][a-z0-9-]{5,63}$"
        - name: Accept
          in: header
          required: true
          schema: {type: string, enum: [application/vnd.github.raw+json], default: application/vnd.github.raw+json}
        - name: ref
          in: query
          required: false
          schema: {type: string, enum: [main], default: main}
      responses:
        "200":
          description: Exact kgg-coordination-bridge-v1 allowlist.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [schema_version, task_id, role, generation, revision, status, requirements_sha256, handoff_sha256, next_action]
                properties:
                  schema_version:
                    type: string
                    const: kgg-coordination-bridge-v1
                  task_id:
                    type: string
                    pattern: "^[a-z0-9][a-z0-9-]{5,63}$"
                  role:
                    type: string
                    enum: [luna-manager, lead-gpt, gpt-subchat, lead-synthesis, luna-relay, luna-max-worker, verifier, cricket, ticket-master, sol-endboss, ci-acceptance, status-read]
                  generation:
                    type: integer
                    minimum: 1
                  revision:
                    type: integer
                    minimum: 1
                  status:
                    type: string
                    enum: [PASS, FAIL, BLOCKED, PENDING, NEEDS_LEAD, NEEDS_SOL]
                  requirements_sha256:
                    type: string
                    pattern: "^[0-9a-f]{64}$"
                  handoff_sha256:
                    type: string
                    pattern: "^[0-9a-f]{64}$"
                  next_action:
                    type: string
                    minLength: 1
                    maxLength: 160
                    pattern: '^[^\r\n]*$'
  /repos/Kayus24/kgg-project-memory/actions/workflows/kgg-agent-coordination-gate.yml/dispatches:
    post:
      operationId: submitKggAgentCoordinationEvent
      summary: Validate or append one non-sensitive cross-agent coordination event.
      description: Pre-authorized private queue write. It cannot modify either app, create PRs or release main/live.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ref, inputs]
              properties:
                ref:
                  type: string
                  enum: [main]
                inputs:
                  type: object
                  required: [mode, request_id, payload_json]
                  properties:
                    mode:
                      type: string
                      enum: [validate_only, apply]
                    request_id:
                      type: string
                      pattern: "^[a-z0-9][a-z0-9-]{5,63}$"
                    payload_json:
                      type: string
                      description: One guarded request, response or close event. Never include patient data, raw QR payloads, chats, secrets or Base64.
      responses:
        "204":
          description: Coordination workflow accepted.
  /repos/Kayus24/kgg-project-memory/actions/workflows/kgg-agent-coordination-gate.yml/runs:
    get:
      operationId: listKggAgentCoordinationRuns
      summary: List recent coordination workflow runs.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: branch
          in: query
          required: false
          schema: {type: string, enum: [main], default: main}
        - name: event
          in: query
          required: false
          schema: {type: string, enum: [workflow_dispatch], default: workflow_dispatch}
        - name: status
          in: query
          required: false
          schema: {type: string, enum: [queued, in_progress, completed]}
        - name: per_page
          in: query
          required: false
          schema: {type: integer, minimum: 1, maximum: 30, default: 10}
      responses:
        "200":
          description: Recent coordination runs.
          content:
            application/json:
              schema: {type: object, properties: {}, additionalProperties: true}
  /repos/Kayus24/kgg-project-memory/actions/workflows/kgg-memory-gate.yml/dispatches:
    post:
      operationId: submitKggMemoryUpdate
      summary: Validate or apply one guarded append-only project-memory record.
      description: Use validate_only first. Apply only an identical safe payload. needs_approval must stop until Max explicitly approves.
      x-openai-isConsequential: true
      security:
        - githubBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ref
                - inputs
              properties:
                ref:
                  type: string
                  enum:
                    - main
                inputs:
                  type: object
                  required:
                    - mode
                    - request_id
                    - payload_json
                  properties:
                    mode:
                      type: string
                      enum:
                        - validate_only
                        - apply
                    request_id:
                      type: string
                      pattern: "^[a-z0-9][a-z0-9-]{5,63}$"
                    payload_json:
                      type: string
                      description: JSON string containing the identical request_id and one curated record. Never include chats, patient data, secrets or raw Base64.
      responses:
        "204":
          description: Memory workflow dispatch accepted.
  /repos/Kayus24/kgg-project-memory/actions/workflows/kgg-memory-gate.yml/runs:
    get:
      operationId: listKggMemoryUpdateRuns
      summary: List recent KGG Project Memory Gate runs.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: branch
          in: query
          required: false
          schema:
            type: string
            enum:
              - main
            default: main
        - name: event
          in: query
          required: false
          schema:
            type: string
            enum:
              - workflow_dispatch
            default: workflow_dispatch
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - queued
              - in_progress
              - completed
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
      responses:
        "200":
          description: Recent memory workflow runs.
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: true
  /repos/Kayus24/kgg-project-memory/actions/runs/{memory_run_id}:
    get:
      operationId: getKggMemoryUpdateRun
      summary: Get status and conclusion for one Project Memory Gate run.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: memory_run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Memory workflow run status.
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: true
  /repos/Kayus24/kgg-project-memory/actions/runs/{memory_run_id}/jobs:
    get:
      operationId: getKggMemoryUpdateStatus
      summary: Get jobs and named status steps for one Project Memory Gate run.
      description: Inspect steps for applied, no_change, needs_approval or rejected behavior before reporting success.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: memory_run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Memory workflow jobs and steps.
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: true
  /repos/Kayus24/kgg-project-memory/actions/runs/{memory_run_id}/artifacts:
    get:
      operationId: getKggMemoryUpdateArtifacts
      summary: List the structured result artifact for one Project Memory Gate run.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: memory_run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Memory workflow artifacts.
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: true
components:
  schemas: {}
  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer
