openapi: 3.1.0
info:
  title: KGG GPT Preview and Project Memory GitHub API
  version: "1.2.0"
  description: Dispatches and verifies the guarded KGG Preview Gate and the private append-only Project Memory Gate.
servers:
  - url: https://api.github.com
paths:
  /repos/Kayus24/kgg/actions/workflows/kgg-gpt-preview-gate.yml/dispatches:
    post:
      operationId: submitKggPreviewGate
      summary: Dispatch the guarded KGG GPT Preview Gate workflow.
      description: Use validate_only before publish_preview. payload_json must be the modular v2 payload with patch_content, not operations/path. Use publish_admin_beta only after Max accepts the matching Test-App/Test-APK/Preview-APK and a real Admin beta merge is required.
      x-openai-isConsequential: true
      security:
        - githubBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ref
                - inputs
              properties:
                ref:
                  type: string
                  enum:
                    - main
                inputs:
                  type: object
                  required:
                    - mode
                    - request_id
                    - payload_json
                  properties:
                    mode:
                      type: string
                      enum:
                        - validate_only
                        - publish_preview
                        - create_pr
                        - publish_admin_beta
                    request_id:
                      type: string
                      pattern: "^[a-z0-9][a-z0-9-]{5,63}$"
                    payload_json:
                      type: string
                      description: JSON string containing request_id, title, summary, version_slug, touched_areas, required_tests and patch_content. Do not send operations, old_text, new_text or path. UI payloads must include critical and ui-stability regression tests.
                    ui_stability:
                      type: string
                      enum:
                        - "false"
                        - "true"
                      default: "false"
      responses:
        "204":
          description: Workflow dispatch accepted.
  /repos/Kayus24/kgg/actions/workflows/kgg-gpt-preview-gate.yml/runs:
    get:
      operationId: listKggPreviewGateRuns
      summary: List recent KGG Preview Gate runs to find the run for a request_id.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: branch
          in: query
          required: false
          schema:
            type: string
            enum:
              - main
        - name: event
          in: query
          required: false
          schema:
            type: string
            enum:
              - workflow_dispatch
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - queued
              - in_progress
              - completed
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
      responses:
        "200":
          description: Recent workflow runs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  workflow_runs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        display_title:
                          type: string
                        status:
                          type: string
                        conclusion:
                          type:
                            - string
                            - "null"
                        html_url:
                          type: string
                additionalProperties: true
  /repos/Kayus24/kgg/actions/runs/{run_id}:
    get:
      operationId: getKggPreviewGateRun
      summary: Get status and conclusion for one Preview Gate run.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Workflow run status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  display_title:
                    type: string
                  status:
                    type: string
                  conclusion:
                    type:
                      - string
                      - "null"
                  html_url:
                    type: string
                additionalProperties: true
  /repos/Kayus24/kgg/actions/runs/{run_id}/jobs:
    get:
      operationId: getKggPreviewGateJobs
      summary: Get jobs and steps for one Preview Gate run.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Workflow jobs with step status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  jobs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        status:
                          type: string
                        conclusion:
                          type:
                            - string
                            - "null"
                        steps:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              status:
                                type: string
                              conclusion:
                                type:
                                  - string
                                  - "null"
                additionalProperties: true
  /repos/Kayus24/kgg/actions/runs/{run_id}/artifacts:
    get:
      operationId: getKggPreviewGateArtifacts
      summary: Get uploaded artifacts for one Preview Gate run.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Workflow artifacts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  artifacts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        expired:
                          type: boolean
                        archive_download_url:
                          type: string
                additionalProperties: true
  /repos/Kayus24/kgg-project-memory/contents/memory/index.json:
    get:
      operationId: getKggMemoryIndex
      summary: Get the small routing index for the private KGG project memory.
      description: Always call this before loading a memory pack. Do not load all records.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/vnd.github.raw+json
            default: application/vnd.github.raw+json
        - name: ref
          in: query
          required: false
          schema:
            type: string
            enum:
              - main
            default: main
      responses:
        "200":
          description: Raw JSON routing index.
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: true
  /repos/Kayus24/kgg-project-memory/contents/memory/packs/{pack_name}:
    get:
      operationId: getKggMemoryPack
      summary: Get one compact active KGG memory topic pack selected from the index.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: pack_name
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9][a-z0-9-]{1,63}\\.md$"
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/vnd.github.raw+json
            default: application/vnd.github.raw+json
        - name: ref
          in: query
          required: false
          schema:
            type: string
            enum:
              - main
            default: main
      responses:
        "200":
          description: Raw Markdown memory pack.
          content:
            text/plain:
              schema:
                type: string
  /repos/Kayus24/kgg-project-memory/contents/memory/records/{record_name}:
    get:
      operationId: getKggMemoryRecord
      summary: Get one immutable KGG memory record for history, rationale or conflict review.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: record_name
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9][a-z0-9-]{5,63}\\.md$"
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/vnd.github.raw+json
            default: application/vnd.github.raw+json
        - name: ref
          in: query
          required: false
          schema:
            type: string
            enum:
              - main
            default: main
      responses:
        "200":
          description: Raw immutable Markdown record.
          content:
            text/plain:
              schema:
                type: string
  /repos/Kayus24/kgg-project-memory/contents/memory/history.json:
    get:
      operationId: getKggMemoryHistory
      summary: Get the KGG memory history catalog only when audit or conflict context is required.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/vnd.github.raw+json
            default: application/vnd.github.raw+json
        - name: ref
          in: query
          required: false
          schema:
            type: string
            enum:
              - main
            default: main
      responses:
        "200":
          description: Raw JSON history catalog.
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: true
  /repos/Kayus24/kgg-project-memory/actions/workflows/kgg-memory-gate.yml/dispatches:
    post:
      operationId: submitKggMemoryUpdate
      summary: Validate or apply one guarded append-only project-memory record.
      description: Use validate_only first. Apply only an identical safe payload. needs_approval must stop until Max explicitly approves.
      x-openai-isConsequential: true
      security:
        - githubBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ref
                - inputs
              properties:
                ref:
                  type: string
                  enum:
                    - main
                inputs:
                  type: object
                  required:
                    - mode
                    - request_id
                    - payload_json
                  properties:
                    mode:
                      type: string
                      enum:
                        - validate_only
                        - apply
                    request_id:
                      type: string
                      pattern: "^[a-z0-9][a-z0-9-]{5,63}$"
                    payload_json:
                      type: string
                      description: JSON string containing the identical request_id and one curated record. Never include chats, patient data, secrets or raw Base64.
      responses:
        "204":
          description: Memory workflow dispatch accepted.
  /repos/Kayus24/kgg-project-memory/actions/workflows/kgg-memory-gate.yml/runs:
    get:
      operationId: listKggMemoryUpdateRuns
      summary: List recent KGG Project Memory Gate runs.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: branch
          in: query
          required: false
          schema:
            type: string
            enum:
              - main
            default: main
        - name: event
          in: query
          required: false
          schema:
            type: string
            enum:
              - workflow_dispatch
            default: workflow_dispatch
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - queued
              - in_progress
              - completed
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
      responses:
        "200":
          description: Recent memory workflow runs.
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: true
  /repos/Kayus24/kgg-project-memory/actions/runs/{memory_run_id}:
    get:
      operationId: getKggMemoryUpdateRun
      summary: Get status and conclusion for one Project Memory Gate run.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: memory_run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Memory workflow run status.
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: true
  /repos/Kayus24/kgg-project-memory/actions/runs/{memory_run_id}/jobs:
    get:
      operationId: getKggMemoryUpdateStatus
      summary: Get jobs and named status steps for one Project Memory Gate run.
      description: Inspect steps for applied, no_change, needs_approval or rejected behavior before reporting success.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: memory_run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Memory workflow jobs and steps.
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: true
  /repos/Kayus24/kgg-project-memory/actions/runs/{memory_run_id}/artifacts:
    get:
      operationId: getKggMemoryUpdateArtifacts
      summary: List the structured result artifact for one Project Memory Gate run.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: memory_run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Memory workflow artifacts.
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: true
components:
  schemas: {}
  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer
